.main__header {
	background: #2D5851;
	color: #FFF;
	padding: 15px 20px 0 20px;
	margin-bottom: 40px;
}

.rules__list { padding-left: 30px; }
.rules__list > li.is--complete { 
	color: #2D5851; 
	list-style-type: disc;
}

.rules__list > li,
.error-log__item  { 
	font-size: 1.4rem; 
	line-height: 1.8rem;
	margin: 0;
	color: #A10022;
}

.parser { border: 1px solid #DDD; }

.complete { 
	height: 100px; 
	transition: opacity 0.25s;
}

/* --- Utility Classes --- */
.text-right  { text-align: right; }
.text-center { text-align: center; }
.text-left   { text-align: left; }

.is--hidden { opacity: 0; }